In [2]:
import pandas as pd
import numpy as np

In [32]:
data = pd.read_csv("Covid Data.csv")
data = data.drop(columns = ['PREGNANT'])

data.loc[stroke_data['DATE_DIED']=='9999-99-99', ['DATE_DIED']] = '2'
data.loc[stroke_data['DATE_DIED']!='9999-99-99', ['DATE_DIED']] = '1'
data = data.rename(columns = {'DATE_DIED':'DIED'})

data = data.drop(columns = ['USMER', 'MEDICAL_UNIT', 'CLASIFFICATION_FINAL', 'INTUBED', 'OTHER_DISEASE', 'ICU'])


data

,SEX,PATIENT_TYPE,DIED,PNEUMONIA,AGE,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO
0,1,1,1,1,65,2,2,2,2,1,2,2,2,2
1,2,1,1,1,72,2,2,2,2,1,2,1,1,2
2,2,2,1,2,55,1,2,2,2,2,2,2,2,2
3,1,1,1,2,53,2,2,2,2,2,2,2,2,2
4,2,1,1,2,68,1,2,2,2,1,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,1,2,2,40,2,2,2,2,2,2,2,2,2
1048571,2,2,2,2,51,2,2,2,2,1,2,2,2,2
1048572,2,1,2,2,55,2,2,2,2,2,2,2,2,2
1048573,2,1,2,2,28,2,2,2,2,2,2,2,2,2
1048574,2,1,2,2,52,2,2,2,2,2,2,2,2,2

In [6]:
for i in data:
    print(i)

USMER
MEDICAL_UNIT
SEX
PATIENT_TYPE
DATE_DIED
INTUBED
PNEUMONIA
AGE
PREGNANT
DIABETES
COPD
ASTHMA
INMSUPR
HIPERTENSION
OTHER_DISEASE
CARDIOVASCULAR
OBESITY
RENAL_CHRONIC
TOBACCO
CLASIFFICATION_FINAL
ICU