In [11]:
import pandas as pd
import numpy as np

In [31]:
data = pd.read_csv("Covid Data.csv")
data = data.drop(columns = ['PREGNANT'])

data.loc[data['DATE_DIED']=='9999-99-99', ['DATE_DIED']] = '2'
data.loc[data['DATE_DIED']!='9999-99-99', ['DATE_DIED']] = '1'
data.loc[data['CLASIFFICATION_FINAL']<4, ['CLASIFFICATION_FINAL']] = 1
data.loc[data['CLASIFFICATION_FINAL']>=4, ['CLASIFFICATION_FINAL']] = 2
data = data.rename(columns = {'DATE_DIED':'DIED'})

data = data.drop(columns = ['USMER', 'MEDICAL_UNIT', 'INTUBED', 'OTHER_DISEASE', 'ICU'])

data = data.loc[data['CLASIFFICATION_FINAL']==1]
data = data.drop(columns = ['CLASIFFICATION_FINAL'])
data

,SEX,PATIENT_TYPE,DIED,PNEUMONIA,AGE,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO
0,1,1,1,1,65,2,2,2,2,1,2,2,2,2
2,2,2,1,2,55,1,2,2,2,2,2,2,2,2
4,2,1,1,2,68,1,2,2,2,1,2,2,2,2
5,1,2,1,1,40,2,2,2,2,2,2,2,2,2
6,1,1,1,2,64,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047933,1,2,1,2,77,1,2,2,1,1,2,2,2,2
1047934,1,1,1,2,55,1,2,2,2,2,2,2,2,2
1047935,2,1,1,2,70,2,2,2,2,1,2,2,2,2
1047936,2,1,1,2,32,2,2,2,2,2,2,2,2,2
1047937,1,1,1,2,30,2,2,2,2,2,2,2,2,2

In [26]:
data.corr(numeric_only=True)

,SEX,PATIENT_TYPE,PNEUMONIA,AGE,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL
SEX,1.000000,0.089505,-0.012131,0.028367,0.008888,0.009372,0.010415,0.007999,0.009257,0.008174,0.009858,0.008249,0.004919,-0.054363
PATIENT_TYPE,0.089505,1.000000,0.022966,0.315193,0.008743,0.019548,0.023042,0.024924,0.006852,0.022175,0.019650,0.018873,0.022123,-0.183198
PNEUMONIA,-0.012131,0.022966,1.000000,-0.073127,-0.004484,-0.005618,-0.005392,-0.000802,-0.004799,-0.004758,-0.004276,-0.005287,-0.004325,0.101526
AGE,0.028367,0.315193,-0.073127,1.000000,0.004422,0.019048,0.022715,0.022820,-0.004964,0.019489,0.015500,0.020124,0.021263,-0.155060
DIABETES,0.008888,0.008743,-0.004484,0.004422,1.000000,0.828823,0.829349,0.781108,0.835018,0.809417,0.752739,0.812657,0.771763,-0.001112
COPD,0.009372,0.019548,-0.005618,0.019048,0.828823,1.000000,0.908929,0.852273,0.855249,0.880097,0.814868,0.884032,0.836097,-0.006829
ASTHMA,0.010415,0.023042,-0.005392,0.022715,0.829349,0.908929,1.000000,0.868917,0.864264,0.891026,0.824631,0.895050,0.845067,-0.007766
INMSUPR,0.007999,0.024924,-0.000802,0.022820,0.781108,0.852273,0.868917,1.000000,0.825158,0.853365,0.783953,0.852755,0.806749,-0.006303
HIPERTENSION,0.009257,0.006852,-0.004799,-0.004964,0.835018,0.855249,0.864264,0.825158,1.000000,0.861063,0.805127,0.860477,0.816539,-0.002243
CARDIOVASCULAR,0.008174,0.022175,-0.004758,0.019489,0.809417,0.880097,0.891026,0.853365,0.861063,1.000000,0.834389,0.913248,0.858102,-0.008502
OBESITY,0.009858,0.019650,-0.004276,0.015500,0.752739,0.814868,0.824631,0.783953,0.805127,0.834389,1.000000,0.842466,0.801834,-0.003065
RENAL_CHRONIC,0.008249,0.018873,-0.005287,0.020124,0.812657,0.884032,0.895050,0.852755,0.860477,0.913248,0.842466,1.000000,0.868761,-0.007999
TOBACCO,0.004919,0.022123,-0.004325,0.021263,0.771763,0.836097,0.845067,0.806749,0.816539,0.858102,0.801834,0.868761,1.000000,-0.009222
CLASIFFICATION_FINAL,-0.054363,-0.183198,0.101526,-0.155060,-0.001112,-0.006829,-0.007766,-0.006303,-0.002243,-0.008502,-0.003065,-0.007999,-0.009222,1.000000

In [27]:
for i in data:
    print(i)

SEX
PATIENT_TYPE
DIED
PNEUMONIA
AGE
DIABETES
COPD
ASTHMA
INMSUPR
HIPERTENSION
CARDIOVASCULAR
OBESITY
RENAL_CHRONIC
TOBACCO
CLASIFFICATION_FINAL